@import url("https://fonts.googleapis.com/css?family=Open Sans");
html{
    scroll-behavior: smooth;
     
}

body{
    margin: 0%;
    background-color:#F8F9F7;
    overflow: auto; 

}
li>address{
    display: inline;
}

address> a{
    color: #FFF;
}
#contact-us-list>li {
    display: inline;
    list-style-type: decimal;
  
    color: white;
}
#contact-us-list>li>a{
    text-decoration: none;
}
#contact-us-list>li>a:hover{

    text-decoration: underline;
    color: white;
}
li>a{
    color: white
}


contact-us-list>li:not(:last-child):hover{

    text-decoration: underline;
}
#contact-us-list>li:not(:last-child):after{
    content: '\2022';
    padding-left: 1.2px;    
}
.site-footer{
    margin-top: 2rem;

    color: #FFF;
    padding:2px 2px 2px 2px;
    
    background-color: #303c42;


}

.header-right>ul{
    padding: 0px;

}
footer>section{
    padding: 5px 5px 5px 5px;
}
.contact>ul{
    display:block;
   margin: auto;
   text-align: center;
}

a.navbar-brand{
    font-size: 26px;
    text-decoration: none;
    float: left ;
    margin: 0%;
    vertical-align: middle;
    line-height: 44px;
    font-family: 'Open Sans';
    color: aliceblue;
}

#nav-items-list{
    
    top: 0%;
    list-style-type: none;
    margin: 0%;
    
}


#nav-items-list>li{

    
   
    padding: 10px;

    text-decoration: none;
    display: inline-block;
    text-align: center;

   

}
#About.nav-a:hover,#About.active{
    background-color: #4285F4;
    border-radius:100px;
    transition-duration: 1s;

}
#Team.nav-a:hover,#Team.active{
    background-color: #DB4437;
    border-radius:100px;
    transition-duration: 1s;

}
#Workshops.nav-a:hover,#Workshops.active{
    background-color: #F4B400;
    border-radius:100px;
    transition-duration: 1s;

}
#Contact.nav-a:hover,#Contact.active{
    background-color: #0F9D58;
    border-radius:100px;
    transition-duration: 1s;

}
a.nav-a{

    padding: 14px 16px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}
.header-right{

    float:right;
    margin: 0%;
    

}

.nav-header-container{

    box-shadow: 0px 5px 4px rgba(66, 20, 175, 0.1);


    position: sticky;
   top:0%;
    height: 44px;   
    width: -webkit-fill-available; 
    background-color: #141b27;
    margin:auto;
   
    padding:10px 20px;

}
#dsc-brand{

    float: left ;
    margin: 0%;
    vertical-align: middle;
    line-height: 44px;
    font-family: 'Open Sans';
    color: aliceblue;



}
.dsc-home{


    background-color: white;
    border-radius: 10px;
    height: 100%;   
    padding: 10px;
    text-align: center;
    margin: 20px 100px 20px 100px;
   
}
div.dsc-home{
    border-color: rgba(0, 0, 0, 0.125);
   border-radius: 10px;   
    border-width: 1px;
    border-style: solid;

}

h1.dsc-home{
    color: #4285F4;
    text-align: center;
    font-size: 32px;
}
p.dsc-home{
    padding: 20px; 
    color: #6f737a;
    font-size: 20px;


}
.dsc-image{
    margin-top:70px;
   
    height:250px;
    padding : 20px;
    text-align: center;

    margin-bottom: 35px;
    vertical-align: middle;

    
}

#dsc-title{

    font-size: 32px;
    color: #1E6C93;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    font-family: "Open Sans"
    
}

#dsc-title>h3{
    color:#0F9D58;
}


.team{

    background-color: #1E6C93;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.125);
    border-style: solid;
    box-align: center;
    


}

h1.team{
    color: white;

}
img.team-member-images{
    height: 320px;
    width: 400px;
}
h3.team-members,h2.team-members{
    color: white;
}
#Team-heading{
    color: dodgerblue;
    font-size: 60px;
    text-align: center;
}
#container>ul{
    text-align: center;
}
#container>ul li{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: inline-block;
    
}
div>h1{
    color:#263349;
}
div > h2{
    color: white;
    font-family: "Open Sans";
}
div>h3{
    color: white;
    font-family: "Open Sans";

}
img.team-member-images{

    height:320px;
    width: 290px;
    padding: 20px;    
}
#image{
    float: left;

    height: 200px;
    width: 200px;
}
#scet-logo{
    float: right;
    height:215px;
    width:220px;
}

#apply.apply-team-core{
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;


}
#btn-apply-for-team:hover{
    background-color:  #263349  ;
    color: #f1f1f1;
    transition-duration: 0.6s;
}
#btn-apply-for-team.apply-team-core{
    width: 70%;
    height: 40px;
    font-size:20px;
    border-radius: 30px;
}

p{
    font-family: Lato, sans-serif;
}

hr{

    color: grey;
    width: 80%;
}

.hosted-github{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
}



.contact{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-decoration: none;  
    text-align: center; 
}
@media (max-width:700px){

    .nav-header-container{
        width: 45%;
    }
    #nav-items-list{
        width: 20%;
        float: left;
    }



    
}

@media(min-width:700px){

    .navbar-toggler{
        display: none;
    }


}